<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="camera_color_gazebo"
        params="frame topic_name:=camera/image_raw sensor_name:=camera_sensor">
        <gazebo reference="${frame}">
            <sensor name="${sensor_name}" type="camera">
                <!-- Pose relative to camera_link (already positioned) -->
                <pose>0 0 0 0 0 0</pose>
                <always_on>1</always_on>
                <update_rate>30</update_rate>
                <visualize>true</visualize>
                <topic>${topic_name}</topic>
                <camera>
                    <horizontal_fov>1.047</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>100</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>