<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="imu" params="parent frame">
        <link name="${frame}">
            <visual>
                <geometry>
                    <box size="0.03 0.03 0.01" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <box size="0.03 0.03 0.01" />
                </geometry>
            </collision>
            <inertial>
                <mass value="0.001" />
                <inertia ixx="0.00000015" ixy="0.0" ixz="0.0" iyy="0.00000015" iyz="0.0"
                    izz="0.00000015" />
            </inertial>
        </link>
        <joint name="${frame}_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${frame}" />
            <origin xyz="0 0 0.1" rpy="0 0 0" />
        </joint>
    </xacro:macro>
</robot>