<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="lidar" params="parent frame">
        <link name="${frame}">
            <visual>
                <geometry>
                    <cylinder length="0.05" radius="0.04" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <cylinder length="0.05" radius="0.04" />
                </geometry>
            </collision>
            <inertial>
                <!-- TODO_FILL_MASS -->
                <mass value=".2" />
                <!-- TODO_FILL_INERTIA -->
                <inertia ixx="1e-4" ixy="0.0" ixz="0.0" iyy="1e-4" iyz="0.0" izz="1e-4" />
            </inertial>
        </link>
        <joint name="${frame}_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${frame}" />
            <origin rpy="0 0 0" xyz="-0.00081966 0.00099024 0.02283704" />
        </joint>
    </xacro:macro>
</robot>